.card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    width: 300px;
    height: 300px;
    .HoverMeImg{
        overflow: hidden;
    }
    img {
        width: 100%;
        transition: 0.3s linear;
        &:hover{
            transform: scale(1.2);
        }
    }

    .btn {
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        color: black;
        font-weight: 600;
    }

    .CardInfo {
        display: flex;
        gap: 30px;
        align-items: center;
        justify-content: center;

        .ProductInfo {
            h4 {
                margin-bottom: 5px
            }
        }

        span {
            color: green;
            font-weight: 600;
            font-size: 18px;

        }
    }
}