.footerContainer{
    width: 100vw;
    margin-top: 30px;
    background-color: #2C2C2C;
    color: #FFFFFF;
    padding: 20px 0;
    .FooterLogos{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 30px 0;
        .copyRight{
            margin-top: 30px;
        }
        h6{
            margin-bottom: 12px;
            font-size: 19px;
            letter-spacing: 1px;
        }

        .iconLists{
            i{
                margin: 0 20px;
                font-size: 12px;
                color: lime;
            }
        }
    }
    .footerData{
        display: flex;
        gap: 100px;
        font-family: 'Playfair Display', serif;
        justify-content: center;
        align-items: flex-start;
        padding: 60px 0;
        border-bottom: 2px solid #106A8B;
        p{
            width: 200px;
            color:lightgray;
            font-size: 16px;
        }
        h5{
            margin-bottom: 20px;
            font-size: 20px;
            letter-spacing: 1px;
        }
        ul{
           
            li{
                list-style-type: none;
                margin-top: 8px;
                span{
                    margin-left: 8px;
                }
            }
        }
    }
}