@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Playfair Display', serif;
    overflow-x: hidden;
    background-color: #F6F6F6;
}

button{
    cursor: pointer;
    outline: none;
}

a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
.btn-style{
    background-color: royalblue;
    color: black;
    text-align: center;
    padding: 8px 17px;
    font-size: 16px;
}
